---
import Layout from '../layouts/Layout.astro';
// import { global } from "../config";
// import { global } from "../config";
// import { Image } from 'astro:assets';
// import headerImg from '../assets/header.jpg';
---

<Layout pageTitle="The Resurrection of Carver Bryce, a Novel — Chapter 1.">
	
	<!-- CHAPTER 1 - Full -->
	<article class="content mt-6 | text-white">

		<header class="container mb-8">
			<h1 class="mb-1 | text-4.5 font-300 leading-1  text-wrap-pretty balance text-accent">The Resurrection of Carver Bryce</h1>
			<p class="text-2 text-white">A novel by Jon Rittenberg</p>
		</header>

		<div class="container-readable mb-4">
			<h2 class="mb-4 | text-2.5">Chapter 1 — A Little Push</h2>
			<p>The funeral ended. Thinking I was alone, I stayed behind. I stood on the grave’s edge folding and unfolding the eulogy I’d scribbled earlier, more a note to myself than words for the departed it struck me.  I crumpled it and watched my family hightailing it from the shade of the graveside tarp to their cars. Few remembered to look unhurried, most idly chatted about summer plans, their garden, the Red Sox. A half-uncle told dirty jokes, twin teenage cousins held their chins heavenward to tan their pretty freckled faces. Even Mother Nature trumpeted the day more than mourned it: in all directions birds chirped, dogwood trees bloomed, and the grass glowed as if each blade was lit from within.</p>
			
<p>The day’s cheeriness contrasted not only with the occasion but also with me. Earlier, relatives had eyed me as if I belonged in the grave. And although just thirty-five, I felt like I should be. My face was cut from a shattered windshield, arm in a sling, body hunched from bruised ribs. But that was all superficial stuff that Aspirin and Band-Aids could mask and time could heal. It was the unseen that tripped you up. I thought about my eulogy, a thinly veiled spin on my life’s mantra—“Find your destiny before your deathbed finds you, otherwise you’re already dead,” and tossed it in the grave.</p>
<p>“Enough about me,” I said down to my grandfather, Max. He’d been there for me once, more or less. I wanted to be there for him now. I patted my chest pocket to feel the outline of his watch. Toss it in? As if that would give time back to him. But it was something. I reached under my cast’s sling for my pocket. Just as my fingertips kissed the watch’s metal, I heard my cousin’s newscaster-crisp voice in the distance.&nbsp;</p>
<p>“Gran Veronica?” she called out.</p>
<p>Veronica was Grandpa Max’s ninety-two-year-old sister. For twenty years she’d been mistaking me for Max. While I’d been standing over his grave, she’d been ducking behind headstones to sneak into my shadow. What went on under her coiffed hairdo and behind her umpteen layers of blush was a riddle the family had long ago given up trying to solve.</p>
<p><em>“Gran Veronica!”</em>the cousin now yelled.</p>
<p>At that same instant, I felt tiny hands press my lower back and heard an old lady’s&nbsp;<em>Oomph!</em>&nbsp;The push was weak, but strong enough to steal my already precarious balance. I found my center and lost it again when contorting just enough to see Great Aunt Veronica’s heel planted and face pruned.</p>
<p>“Maxwell!” She cried, poking my chest and sending me tumbling.</p>
<p>In that slowed moment of freefall, I regretted having let Veronica believe I was Max earlier, but indulging her had always been easier than correcting her. I dropped the proverbial six feet and hit the coffin hard. I heard the crunch of Max’s watch when my chest hit mahogany, and then fought for air and blinked to see. My eyes had yet to adjust from the blue skies above to the dim of the grave below. Veronica’s silhouette was the only shape I could make out. She perched at the head of the grave with her tiny hands on her hips and big hair eclipsing the sun.</p>
<p>“Maxwell Seymour Bryce,” she said, shaking her finger at me. “You stay in there!” Since childhood, Veronica had been bossing around her big brother. Why let a silly thing like death stop her now?</p>
<p>The commotion drew family members back. My half-uncle, Chip, arrived first. “What the…? Damn. Thought your thing was heights?” He said to me, and then caught the fire in Veronica’s eyes and tiptoed to the grave’s opposite end.</p>
<p>The others began filling in around the grave. My mother arrived too fast, and it took a helping hand from my friend, Leeza, to keep her from tumbling in and onto me. Meanwhile, I was feeling the warmth of the casket against my cheek. For a gruesome moment I imagined the heat came from inside. It was from the sun, but the thought stuck, and like mental smelling salts, it snapped me to and the pain registered. My ribs felt like they’d been clubbed with a steel pipe, my broken arm felt on fire, and now my other arm felt ready to drop off. Yet the physical discomfort was no match for the horror of being in the grave, inches from my grandfather’s corpse. I stood to get out.</p>
<p>But the coffin was freshly polished and my shoes were smooth on the bottom. I took a banana peel slide—and down! My back struck the coffin. I watched stars dance and traded unblinking stares with the faces framing my rectangle of sky. Some faces I knew well, like Chip’s, Leeza’s, and of course my mother’s. Others were less familiar, those seen at the rare wedding or funeral. The exception was my cousin who’d been calling for Veronica. Jana? Janie?&nbsp;<em>Jamie?</em>&nbsp;Her J-name always escaped me, but her face registered instantly when I channel-surfed. She was the style and entertainment reporter for a local station. Her son had her heart-shaped face, I saw now, unaware until today she’d had a third child.</p>
<p>“Stop! Stay still! Keep down!” the J-cousin and others shouted, as I flexed to rise again.&nbsp;</p>
<p>“You’re going to hurt yourself!” my mother cried.</p>
<p>“Or Max,” Chip pointed out.</p>
<p>Ignoring their advice and my pain, I stood…and BAM! Down again, this time face first. Blood trickled from my nose. I sat up, and the trickle turned to a gush. Before I could try again, I heard footsteps pounding. I looked up.</p>
<p>“The twins are getting the groundskeepers,” my J-cousin announced.</p>
<p>My mother leaned in. “Picture yourself in a happy place. Or count to ten backwards. Want anything while you wait?” she asked me.</p>
<p></p>

			<button>Buy on Amazon</button>

		</div>
	</article>

</Layout>

<style>
	/* TODO: Refactor - put into global css */
	p:not(:last-of-type) {
		margin-bottom: 1rem;
	}

	p:last-of-type {
		margin-bottom: 1rem;
	}

	/* TODO: Refactor */
	button {
		/* position: relative; */
		display          : inline-block;
		padding          : 13px 20px; /* 13px 50px; */
		/* border         : 1px solid transparent; */
		background-color : var(--accent);
		border         : 3px solid white;
		outline        : 0;
		cursor         : pointer;
		user-select    : none;
		touch-action   : manipulation;
		transition     : 0.25s;
		font-size      : 1.125rem;
		font-weight    : 400;
		text-transform : uppercase;
		color          : var(--text-color);
		/* font-family: var(--font-mono); */
		/* word-spacing: -0.2em; */

		&:hover {
			background-color : white;
		}
	}

</style>
