---
import '../styles/global.css';
import SiteHead from '../components/SiteHead.astro';
import Header from '../components/Header.astro';
import SiteFooter from '../components/SiteFooter.astro';

const { htmlTitle, htmlDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SiteHead title={htmlTitle} description={htmlDescription} />
	</head>
	<body class="grid-site bg-tomato">
		<Header />
		<main class="flex flex-col justify-center" id="main">
			<slot />
		</main>
		<SiteFooter />
	</body>
</html>
