
/* BACKGROUNDS */
.bg-accent { background-color: var(--accent)}

.bg-header,
.bg-footer { 
	background-color: var(--bg-header)
}

/* .bg-header,
.bg-footer {
	background: linear-gradient(
		45deg, 
		#aa076b 10%,
		#61045f,
		#aa076b 78.5%,
		#61045f 95%
	);
} */

.bg-black  { background-color: #000000 }
.bg-white  { background-color: #FFF }
.bg-red    { background-color: #F00 }
.bg-gray   { background-color : gray }
.bg-coal   { background-color : rgb(36, 38, 44) }/* * */
.bg-celery { background-color: rgb(233, 254, 163) }
.bg-tomato {background-color: rgb(210, 63, 34);}
.bg-celery-lightest { background-color: rgb(245, 255, 229) }
.bg-miami-ocean     { background-color: rgb(111, 220, 221) }
.bg-faded-lime      { background-color: rgb(138, 252, 112) }
/* .bg-body   { background-color : rebeccapurple;} */

/* TEXT COLOR */
.text-white	 { color: #FFF; }
.text-accent { color: var(--accent); } /* TODO: change to accent in html */
.text-highlight { color: var(--accent); }
.hover\:text-accent:hover { color: rgb(111, 220, 221); }

.decoration-color	{ text-decoration-color: blue; }
/* .hover\:color:hover							{ color: purple; } */
/* .hover\:decoration-color:hover	{ text-decoration-color: red; } */

/* 
primary
secondary
base

hover
//REF: https://automaticcss.com
//REF: https://geary.co/numbered-shades-design-systems/
 */