:root {
	/* LAYOUT */
	--content          : 980px;
	--content-site     : 1280px;
	--content-readable : 840px; /* TODO: 760px OR: 65ch OR 680px;*/ 
	--gutter           : .5rem;
	--gutters          : calc(var(--gutter) * 2);
	--nav-height       : 40px;

	@media (min-width: 768px) {
		--gutter: .75rem;
	}

	/* COLORS */
	--bg-header       : rgba(0,0,0,.2);
	--bg-footer       : var(--bg-header);
	--text-nav        : white;
	--text-nav--hover : rgb(209, 255, 136);
	--accent          : rgb(170, 247, 253);
	--accent-bright   : rgb(190, 249, 255);
	--accent-dark     : rgb(150, 235, 249);
	--focus-outline   : green;
	--selection-color : var(--cyan-400);
	--selection-bg    : pink;

	--white        : #FFF;
	--white-50     : rgba(255,255,255,.5);
  --black        : #000;
  --ink          : #201922;
  --midnight     : #111;
	--sky-300      : rgb(157, 250, 253);
	--cyan-400     : rgb(0, 255, 255);
	--tomato       : rgb(210, 63, 34);

	/* TYPE */
	--font-sans :	ui-sans-serif, system-ui, sans-serif, 
		"Apple Color Emoji", "Segoe UI Emoji";
	--font-mono	: ui-monospace, SFMono-Regular, Menlo, 
		Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
