--- 
import { Image } from 'astro:assets';
import myImage from '../assets/carver-bryce-book-cover.jpg';
import Button from '../components/Button.astro';

import { global } from "../config";
--- 

<article class="container mt-6 mb-10">
	<header class="mb-8">
		<h1 class="mb-1 | text-4.5 font-300 leading-1  text-wrap-pretty balance text-accent">The Resurrection of Carver Bryce</h1>
		<p class="text-2 text-white mb-0">A novel by Jon Rittenberg</p>
	</header>
	<div class="grid sm:grid--2-1 gap-6">
		<div class="order-2 sm:order-1">
			<p class="mb-6 | text-2.25 font-200 leading-1.2 text-accent">
				Meet Carver Bryce, a thirty-something, six-figure-earning infomercial creator who's determined to sidestep the hamster-wheel pursuit of empty riches for self-fulfillment: “To find his destiny before the grave.” He tries writing the Great American Novel but, to his horror, keeps churning out Harlequin-esque romance books.</p>
			<Button />
		</div>
		<div class="order-1 sm:order-2 mx-auto">
			<a href={global.buyBookLink}>
				<Image 
					src={myImage} 
					alt="The Resurrection of Carver Bryce, a novel." 
					class="shadow" 
					width={310*.875} 
					height={468*.875} 
					loading="eager"
				/>
			</a>
		</div>
	</div>
</article>
