---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 Page - try again!">
	<div class="self-center | text-center text-white">
		<h1 class="text-3 mb-3">Oh no, you've been 404-ed!</h1>

		<a class="text-1.25 text-accent hover:text-accent" href="/">Go to the homepage</a>
	</div>
</Layout>
