<section>
	<div class="content | container mb-12 | text-white">

		<div class="eyebrow">Excerpt</div>

		<h2 class="mb-3 | text-2 text-white">Chapter 1 — A Little Push</h2>
		
		<p>The funeral ended. Thinking I was alone, I stayed behind. I stood on the grave's edge folding and unfolding the eulogy I'd scribbled earlier, more a note to myself than words for the departed it struck me. I crumpled it and watched my family hightailing it from the shade of the graveside tarp to their cars. Few remembered to look unhurried, most idly chatted about summer plans, their garden, the Red Sox. A half-uncle told dirty jokes, twin teenage cousins held their chins heavenward to tan their pretty freckled faces. Even Mother Nature trumpeted the day more than mourned it: in all directions birds chirped, dogwood trees bloomed, and the grass glowed as if each blade was lit from within.</p>

		<p>The day's cheeriness contrasted not only with the occasion but also with me…</p>

		<a class="read-more" href="/chapter-1">Read More...</a>

	</div>
</section>