---
import Layout from '../layouts/Layout.astro';
const frontmatter = Astro.props.frontmatter;
---

<Layout>
	<article class="content mt-6 | text-white">

		<header class="container mb-8">
			<h1 class="mb-1 | text-4.5 font-300 leading-1  text-wrap-pretty balance text-accent">The Resurrection of Carver Bryce</h1>
			<p class="text-2 text-white">A novel by Jon Rittenberg</p>
		</header>

		<div class="container-readable mb-4">
			<h2 class="mb-4 text-2">
				xxxx{frontmatter.title}.
			</h2>
			<slot />
		</div>

	</article>
</Layout>